[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-vision = "*"
google-cloud-storage = "*"
django = "~=2.1.3"
django-environ = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"

[dev-packages]

[requires]
python_version = "3.7"
