[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-vision = "*"
google-cloud-storage = "*"
django = "~=2.1.3"
django-environ = "*"
"psycopg2-binary" = "*"
django-grappelli = "*"
"pypdf2" = "*"
"psycopg2" = "*"
gunicorn = "*"
scrapy = "*"
scrapy-djangoitem = "*"
lxml = "*"
"html2text" = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
fabric = "*"
reynir = "*"
grpcio = "*"
wand = "*"
"django-bootstrap4" = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-markdown-deux = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.6"
